1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

2.. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
try:
    with open ('/home/shijin/Downloads/FULL_stack_DS/Assignments/test1.txt','r') as input:

        with open('/home/shijin/Downloads/FULL_stack_DS/Assignments/test2.txt', 'w') as output:

            for line in input:
                output.write(line)
except Exception as e:
    print(e)

[Errno 2] No such file or directory: '/home/shijin/Downloads/FULL_stack_DS/Assignments/test1.txt'


3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import csv
header = ['title','author','year ']

data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    [' Perdido Street Station','China Miéville',2000 ],
    ['Thud!','Terry Pratchett',2005],
    [ 'The Spellman Files','Lisa Lutz',2007],
    [ 'Small Gods','Terry Pratchett',1992]
]
with open ('book.csv','w',encoding='UTF8',newline='') as f:
    writer =csv.writer(f)
    
    writer.writerow(header)
    
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

5. Read books.csv and insert its data into the book table.

6. Select and print the title column from the book table in alphabetical order.

7. From the book table, select and print all columns in the order of publication.

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

10. Increment the count field of test and print it.

In [ ]:
10. Increment the count field of test and print it.