1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [ ]:
test1 = 'This is a test of the emergency text system,'

2.. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [ ]:
try:
    with open ('/home/shijin/Downloads/FULL_stack_DS/Assignments/test1.txt','r') as input:

        with open('/home/shijin/Downloads/FULL_stack_DS/Assignments/test2.txt', 'w') as output:

            for line in input:
                output.write(line)
except Exception as e:
    print(e)


3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [ ]:
import csv
header = ['title','author','year ']

data = [
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    [' Perdido Street Station','China Miéville',2000 ],
    ['Thud!','Terry Pratchett',2005],
    [ 'The Spellman Files','Lisa Lutz',2007],
    [ 'Small Gods','Terry Pratchett',1992]
]
with open ('book.csv','w',newline='') as f:
    writer =csv.writer(f)
    
    writer.writerow(header)
    
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import mysql.connector as conn
mydb = conn.connect(host= 'localhost', user ='root', password= 'password')
cursor = mydb.cursor(buffered=True)
cursor.execute('show databases')
cursor.fetchall()

[('Sales',),
 ('book',),
 ('cardataset',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testshijin',)]

In [ ]:
cursor.execute('create database book')

In [2]:

cursor.execute('create table book.books (title VARCHAR(100), author VARCHAR(100), year INT(50))')
#cursor.execute('alter table book.books alter column title VARCHAR(20)')
#cursor.execute('describe book.books')

5. Read books.csv and insert its data into the book table.

In [3]:
import csv
with open("book.csv","r",newline= '') as f:
    content = csv.reader(f)
    next(content)
    for i in content:
        #print(i)
        query ='insert into book.books values("{}","{}",{})'.format((i[0]), (i[1]), (i[2]) ) 
        print(query)
        cursor.execute(query)

insert into book.books values("The Weirdstone of Brisingamen","Alan Garner",1960)
insert into book.books values(" Perdido Street Station","China Miéville",2000)
insert into book.books values("Thud!","Terry Pratchett",2005)
insert into book.books values("The Spellman Files","Lisa Lutz",2007)
insert into book.books values("Small Gods","Terry Pratchett",1992)

6. Select and print the title column from the book table in alphabetical order.

In [4]:
cursor.execute('select * from book.books')

In [5]:
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 (' Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

In [6]:
cursor.execute("select * from book.books order by title")
cursor.fetchall()

[(' Perdido Street Station', 'China Miéville', 2000),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Thud!', 'Terry Pratchett', 2005)]

7. From the book table, select and print all columns in the order of publication.

In [7]:
cursor.execute('select * from book.books order by year ')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 (' Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [1]:
!pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
     |████████████████████████████████| 175 kB 337 kB/s eta 0:00:01
Requirement already satisfied: packaging>=20.4 in /home/shijin/.local/lib/python3.8/site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /home/shijin/.local/lib/python3.8/site-packages (from packaging>=20.4->redis) (2.4.7)
Collecting wrapt<2,>=1.10
  Downloading wrapt-1.13.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (84 kB)
     |████████████████████████████████| 84 kB 168 kB/s eta 0:00:01
Installing collected packages: wrapt, deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4 wrapt-1.13.3

In [3]:
HSET test count 1
HSET test name 'Fester Bestertester'
HSET test

/bin/bash: redis-cli: command not found

10. Increment the count field of test and print it.

In [ ]:
10. Increment the count field of test and print it.

In [ ]:
HINCRBY test count 1
HGET test count